<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search"
/>

<header class="header">
  <!-- LOGO -->
  <a href="/" class="header__logo">BLOGIST</a>

  <!-- NAV -->
  <nav class="header__navbar">
    <ul>
      <li>
        <a href="/" class="active">Home</a>
        <a href="/about" class="">About</a>
        <a href="/contact" class="">Contact</a>
      </li>
    </ul>
  </nav>

  <!-- SEARCH -->
  <div class="header__button">
    <button class="searchBtn" aria-expanded="false">
      Search
      <span class="material-symbols-outlined"> search </span>
    </button>
  </div>
</header>
