<div class="author">
  <div class="author__heading">
    <h2>Welcome to BLOGIST</h2>
    <h4>The place to share your thoughts</h4>
  </div>

  <div class="author__image">
    <img src="/img/hero.jpeg" alt="Author image" class="hero__img" />
  </div>
</div>

<div class="posts">
  <h1>Latest Posts</h1>

  <div class="posts__container">
    <!-- Sample post -->
    <ul>
      <li>
        <h2><a href="#">Post title</a></h2>
        <p>Post content</p>
      </li>
    </ul>
  </div>
</div>
